{% extends "header.html" %}

{% block body %}



<div class="row">
<div class="col-12">
<div class="row">
<section class="col-12">
<section class="sub-section">
<div class="header">
<h1 class="text-center">Terms of Use</h1>
</div>
<p>
Thank you for using nodemarketcap.com and/or its associated social media pages (collectively, the “Site”). By using the Site you agree to the below terms (“Terms”). Please read them completely and carefully.
</p>
</section>
<section class="sub-section">
<h3>Disclaimer</h3>
<p>
NodeMarketCap (the “Company”) lists and provides information, gathered from third parties, regarding cryptocurrencies and cryptocurrency exchanges on the Site (the “Services”). Additionally, Company collects and lists information from companies associated with cryptocurrencies and/or cryptocurrency exchanges, and/or expedites the collection and listing thereof, in exchange for a fee (the “Paid Services”). If you are a user of the Paid Services, the agreement between you and Company (a “Paid Services Agreement”) shall supersede any conflict with these terms.
</p>
<p>
Unless expressly indicated on the Site in connection with a particular cryptocurrency or exchange, Company makes no representation or warranty that either Company or any of Company's third party information providers ("Information Providers"): (1) has passed on the merit of any of the cryptocurrencies or exchanges listed on the site (the “Products”); or (2) has endorsed or sponsored any of these Products. The information contained herein is provided for informational and educational purposes only, and nothing contained herein should be construed as investment advice, financial advice, trading advice, or any other sort of advice, either on behalf of a particular Product or as an overall investment strategy. Company does not recommend that any cryptocurrency should be bought, sold, or held by you.
<strong>
DUE DILIGENCE AND ADVICE FROM AN INVESTMENT PROFESSIONAL IS STRONGLY ADVISED PRIOR TO MAKING ANY INVESTMENT DECISION.
</strong>
</p>
<p>
Company strives to ensure the accuracy of information listed on this website, but Company provides this information “as is.” Neither Company nor the Information Providers are responsible for any inaccurate information on the Site, whether posted or caused by users, employees, equipment, programming, or conduct of users, online or offline.
<strong>
ALL INFORMATION IS GATHERED AND PROVIDED WITHOUT WARRANTY OR REPRESENTATION OF ANY KIND TO ANY PARTY. COMPANY DISCLAIMS ALL EXPRESS, IMPLIED, AND STATUTORY WARRANTIES OF ANY KIND TO USERS, INFORMATION PROVIDERS, AND/OR ANY THIRD PARTY, INCLUDING WARRANTIES AS TO ACCURACY, TIMELINESS, COMPLETENESS, MERCHANTABILITY, OR FITNESS FOR ANY PARTICULAR PURPOSE.
</strong>
Investment-related advice and comments presented on or in connection with the Site are solely those of the individuals or entities who published them. They do not in any way represent the opinions of Company on whether to engage in any specific investing decision. Use caution as you read through information posted on the Site.
</p>
<p>
The Site cannot assist you with respect to any regulatory complaint. If you have a specific complaint about the trading of a cryptocurrency, or about an exchange, please register your complaint with an appropriate regulatory entity. For example, for more information, see www.sec.gov (U.S. Securities and Exchange Commission), www.finra.org (Financial Industry Regulatory Authority) or www.nasaa.org (North American Securities Administrators Association).
</p>
<p>
<strong>
BY USING THE SITE, YOU AGREE TO INDEMNIFY, DEFEND, AND FOREVER HOLD HARMLESS THE COMPANY FOR ANY CAUSE OF ACTION WHATSOEVER ARISING FROM YOUR USE OF THE SITE, WHETHER IN TORT, CONTRACT, OR OTHERWISE.
</strong>
Furthermore, you agree to indemnify the Information Providers for any cause of action whatsoever, whether in tort, contract, or otherwise, that is based on information provided on the Site in connection with such Information Provider. Accordingly, neither the Company nor any Information Provider(s) shall have any liability in tort, contract, or otherwise (and as permitted by law, product liability), to any user and/or any third party arising out of your use of the Site, and you hereby waiver any claim or cause of action related to such.
</p>
<p>
<strong>
THE COMPANY HAS DISCLAIMED ALL REPRESENTATIONS AND WARRANTIES WITH REGARD TO THE INFORMATION CONTAINED ON THE SITE. NEITHER THE COMPANY NOR ANY INFORMATION PROVIDER(S) SHALL UNDER ANY CIRCUMSTANCE BE LIABLE TO ANY USER (AND/OR ANY THIRD PARTY) FOR ANY LOST PROFITS OR LOST OPPORTUNITY, INDIRECT, SPECIAL, CONSEQUENTIAL, INCIDENTAL, OR PUNITIVE DAMAGES WHATSOEVER.
</strong>
</p>
</section>
<section class="sub-section">
<h3 id="copyright">Copyright</h3>
<p>
The works of authorship contained on the Site, including but not limited to all design, text, and images, are owned, except as otherwise expressly stated, by The Company, and may not be copied, reproduced, transmitted, displayed, performed, distributed, rented, sublicensed, altered, stored for subsequent use or otherwise used in whole or in part in any manner without the prior written consent of Company except for: (a) one temporary copy in a single computer's memory and one unaltered permanent copy to be used by the viewer for personal and non-commercial use only, or (b) reproduced, transmitted, or displayed for academic or journalistic use provided that such use includes a concurrent, direct, and immediate citation to “nodemarketcap.com” as source.
</p>
</section>
<section class="sub-section">
<h3>TrademarksNotice of Service/Trademark Rights</h3>
<p>
The trademarks, service marks, and logos (collectively, the “Marks”) used on the Site, whether registered trademarks, unregistered trademarks, and/or service marks are owned by Company in the United States and worldwide. Nothing contained on this website should be construed as granting, by implication, estoppel, or otherwise, any license or right to use, for any purpose, any of the Marks without the prior written permission of Company. Any use of the Marks is strictly prohibited.
</p>
<p>
Other brands, product names, logos, trademarks, and service marks (“Third Party Marks”) used on the website are trademarks and/or service marks of their respective owners and should be treated as such. Neither their presence on the Site, nor anything contained on the Site, should be construed as granting permission to use the Third Party Marks. Any use of the Third Party Marks may result in legal action from the owner of such marks, and Company shall not be held liable for any such use.
</p>
</section>
<section class="sub-section">
<h3>Business Uses of our Services</h3>
<p>
If you are using our Services on behalf of a business, whether as an employee, contractor, subcontractor, or otherwise, you warrant and represent that that business accepts these Terms in their entirety, and that you have authority to bind that business to these Terms.
</p>
</section>
<section class="sub-section">
<h3>Modifying and Terminating our Services</h3>
<p>
We are constantly changing and improving our Services. We may add or remove functionalities or features, and we may suspend or stop a Service altogether (“Changes”). Continued use of the Services constitutes consent to any Changes.
</p>
<p>
You can stop using our Services at any time. Company may also stop providing Services to you, add to the Services, or create new limits to our Services at any time.
</p>
</section>
<section class="sub-section">
<h3>Privacy</h3>
<p>
You understand and accept that by using the Site, or submitting any information to Company, you agree to the terms of Company’s <a href="/privacy/">Privacy Policy</a>.
</p>
</section>
<section class="sub-section">
<h3>About these Terms</h3>
<p>
We may modify these Terms or any additional terms that apply to a Service to, for example, reflect changes to the law or changes to our Services. You should look at the Terms regularly. We’ll post notice of modifications to these Terms on this page. We’ll post notice of modified additional terms in connection with the applicable Service. Changes will not apply retroactively and will become effective as soon as they are posted. If you do not agree to the modified terms for a Service, you should discontinue your use of that Service.
</p>
<p>
If there is a conflict between these Terms and the additional terms, the additional terms will control for that conflict.
</p>
<p>
These Terms control the relationship between Company and you, and unless expressly provided for otherwise in these Terms, do not create any third party beneficiary rights.
</p>
<p>
If you do not comply with these Terms, and we don’t take action right away, this doesn’t mean that we are giving up any rights that we may have (such as taking action in the future).
</p>
</section>
<section class="sub-section">
<h3>Severability</h3>
<p>
These Terms are intended to apply worldwide. If any provision of this Agreement is determined to be invalid or unenforceable in whole or in part, by a court of competent jurisdiction, such invalidity or unenforceability shall affect only such provision or part of such provision, and the remaining part of such provision, and remaining part of this Agreement, shall continue in full force and effect.
</p>
</section>
<section class="sub-section">
<h3>Choice of Law, Venue, and Jurisdiction</h3>
<p>
The laws of the State of Delaware, U.S.A., excluding Delaware’s conflict of laws rules, will apply to any disputes arising out of or relating to these Terms or the Services. By using the Site, you consent to the personal jurisdiction of the State of Delaware. All claims arising out of or relating to these Terms or the Services will be litigated exclusively in the federal or state courts of Kent County, Delaware, USA.
</p>
</section>
</section>
</div>
<br>
{% endblock %}