<!doctype html>
<html>

<head>
    <meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1.0">	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeMarketCap</title>
    <meta name="description" content="Node Market Cap made by Mrmetech.">
	<link rel="shortcut icon" href="imgs/logos/nodemarketcap.png" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.18/r-2.2.2/rr-1.2.4/datatables.min.css"/>
	 
	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.18/r-2.2.2/rr-1.2.4/datatables.min.js"></script>
    <link rel="stylesheet" href="css/site.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-TM9RFQV');</script>
	<!-- End Google Tag Manager -->	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120642499-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-120642499-1');
	</script>
	<style>
		.negative {
		color: #ff0000;
		}
		.positive {
		color: #00e600;
		}
		th { font-size: 16px; }
		td { font-size: 15px; }
	</style>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	  (adsbygoogle = window.adsbygoogle || []).push({
		google_ad_client: "ca-pub-9625336312371567",
		enable_page_level_ads: true
	  });
	</script>
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TM9RFQV"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
  <a class="navbar-brand" href="index.html"><img  style="    width: auto;    height: 26px;" src="https://i.imgur.com/WRbWx3u.png" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLSczdl6ikvffrSLPOpBNDPbia5DY2smB_pNIr3_1QAbvylvFgw/viewform?usp=sf_link">Get Listed <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://discord.gg/3HvzZjA">Discord</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="donate/index.html">Donate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="faq.html">FAQ</a>
      </li>	   
  </div>
  </div>
</nav>
<br>

<div class="container">
<div  class="row">
<div class="col-1"></div>
<div class="col-10">
      <a  class="" target="_blank" href="https://scriv.network/?r=nmc">
        <img class="img-fluid" src="imgs/ads/Ad-for-scriv.png"  width="1000" height="60">
      </a>
</div>
<div class="col-1"></div>	  
</div>


<div class="row">
<br>
		<div class="col-5">

		</div>	
		<div class="col-2"></div>		
	    <div class="col-5">		

		</div>	
   </div>

<div class="col-sm-12">
<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link active" href="index.html">STATISTICS</a></li>
  <li class="nav-item"><a class="nav-link" href="funding/index.html">FUNDING</a></li>
</ul>


<table align="center" id="stats" class="table table-striped table-hover responsive nowrap dataTable no-footer dtr-column" style="width:100%">
        <thead>
            <tr>
                <th></th>			
                <th>Coin</th>
                <th>ROI</th>
                <th>Price</th>
                <th>Change</th>
				<th>Required</th>
                <th>Nodes</th>
                <th>Mn worth</th>
                <th>Yearly</th>
                <th>Volume</th>				
            </tr>
        </thead>
    </table>
</div>
<br>

<p align="center" style="font-size: 13px;"><strong>NodeMarketCap is a masternode coin monitoring and stats service. NodeMarketCap does not research or recommend any coin. Do your own research and invest at your own risk.</strong></p>
<p align="center" style="font-size: 13px;">ROI changes often and is not the most important factor.  Please consider <strong>Dev Team - Community - PURPOSE/Platform - Liquidity - Wallet</strong> when making masternode purchases.</p>

<br>
      <div class="row">
          <div class="col-12" style="text-align:center;">
			<hr>
			<p><div style="font-size: 13px;">NodeMarketCap © 2018 | Made by Mrmetech | <a href="disclaimer.html">Disclaimer</a> | <a href="api/index.html">Api</a> | <a href="../terms.html">Terms</a> | <a href="privacy.html">Privacy</a> | Contact us: <a href="mailto:info@nodemarketcap.com">info@nodemarketcap.com</a> | Follow us on <a href="https://twitter.com/nodemarketcap">Twitter</a> | <a href="https://docs.google.com/forms/d/e/1FAIpQLSczdl6ikvffrSLPOpBNDPbia5DY2smB_pNIr3_1QAbvylvFgw/viewform?usp=sf_link" title="Listing &amp; Advertising with NodeMarketCap" target="_blank">Listing &amp; Advertising with NodeMarketCap</a></div></p>
		</div>
	 </div> 
</div>	 
</div>

    <script src="js/index.js"></script>
	<script src="js/p5.min.js"></script>

</body>
</html>
